body
{
	background: url(dd.jpg);
	background-size: cover;
}
.dabulla{
	background-image: url(111d.jpg);
    background-size: cover;
	background-repeat: repeat;
	width: none;
	height: 500px;
}
.wrapper h1{
	color: black;
	font-size: 50px;
	font-style: bold;
	font-family: Tahoma, geneva, sans-serif;
	color: #fff;
	margin-left: 30px;
	margin-top: 50px;
	padding-top: 20px;
}
.dabulla p{
	margin-right: 1100px;
	color: white;
	font-family: Tahoma, geneva, sans-serif;
	color: #fff;
	margin-left: 30px;
}
.letter
{
	font-family: Tahoma, geneva, sans-serif;
	color: #000;
	font-style: bold;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 30px;
	margin-right: 30px;
}